.container {
    width: calc(100% - 48px);
    padding: 24px;
    height: calc(100vh - 98px);
    overflow-y: auto;
    .constraint {
        max-width: 750px;
        margin: 0 auto;
    }
}

.mast {
    padding: 16px 0px;

    img {
        max-width: 65%;
    }
}

.payroll-req {
    // border: 1px solid rgb(46, 109, 164);

    .req-head {
        height: 85px;
        background-color: #dddddd;
        border-bottom: 1px solid rgb(46, 109, 164);
    }

    .form-container {
        padding: 24px 8px 24px 24px;
    }
}

.employees-form {

    .emp-head {
    }
}

.ff-styled {
    margin-top: 24px;
}
.ff-last {
    margin-right: 16px;
}

.divide {
    height: 1px;
    width: 100%;
    margin: 16px 0px;
    background-color: rgba(0,0,0,0.14);
}

.mat-fab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 2;
}

.file-select {
    cursor: pointer;
    cursor: hand;
    .attach-box {
        height: 51px;
        width: 54px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,0.14);
        margin-top: 4px;
        position: relative;

        input {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            z-index: 2;
        }
        .spinner {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background: #fff;
        }
    }
}
.document {
    height: 51px;
    width: 54px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.14);
    margin-top: 4px;
    overflow: hidden;

    .icon {
        height: 100%;
        min-width: 51px;
        background: rgb(46, 109, 164);

        mat-icon {
            color: rgba(255,255,255,0.8);
        }
    }
    span {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.review-container {
    padding: 24px;
    height: calc(100vh - 49px);
    overflow-y: auto;
    .constraint {
        max-width: 750px;
        width: 100%;
        background-color: #fff;
        border-radius: 4px;
        .header {
            padding: 24px;
            span {
                font-size: 28px;
                font-weight: 300;
            }
        }
        .review {
            width: 100%;
            padding: 24px;
        }
        .actions {
            width: 100%;
            padding: 24px;
        }
    }
}

.over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.64);

    .card {
        padding: 24px;
        background-color: #fff;
        border-radius: 6px;
    }
}

h2 {
    margin-top: 0px !important;
}

.p-item {
    max-width: calc(33% - 12px);
    margin-bottom: 24px;
    &:last-child {
        margin-right: 12px;
    }
}

.title {
    font-size: 10px;
    color: rgba(0,0,0,0.65);
    text-transform: uppercase;
}

.body {
    font-size: 14px;
    color: #000;
    &.e {
        text-align: right;
    }
}

.complete-container {
    padding: 24px;
    .constraint {
        max-width: 500px;
        width: 100%;
        background-color: #fff;
        .confirmation {
            width: 100%;
            padding: 24px;
            .check {
                mat-icon {
                    font-size: 120px;
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}