<mat-tab-group [selectedIndex]="tab" (selectedTabChange)="tabChange($event)" dynamicHeight="true">
  <mat-tab label="Fill" *ngIf="!submitted">
    <div class="container">
      <div class="constraint">
        <div fxLayout="column">
          <div class="mast" fxLayout="row" fxLayoutAlign="center center">
            <img [src]="logo">
          </div>

          <!-- Start Payroll Request Info -->
          <div class="payroll-req mat-elevation-z2" fxLayout="column">
            <div class="req-head" fxLayout="row" fxLayoutAlign="center center">
              <h2>Payroll Request Form</h2>
            </div>
            <div class="form-container">
              <form [formGroup]="payrollForm" fxLayout="row wrap" fxLayoutGap="16px">
                <mat-form-field color="accent" fxFlex="calc(100% - 16px)" appearance="outline">
                  <mat-label>Company Name</mat-label>
                  <input required matInput formControlName="companyName">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(33% - 16px)" fxFlex.lt-sm="calc(100% - 16px)"
                  appearance="outline">
                  <mat-label>Pay Period Start</mat-label>
                  <input matInput [matDatepicker]="startPicker" formControlName="payPeriodStart">
                  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #startPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(33% - 16px)" fxFlex.lt-sm="calc(100% - 16px)"
                  appearance="outline">
                  <mat-label>Pay Period End</mat-label>
                  <input matInput [matDatepicker]="endPicker" formControlName="payPeriodEnd">
                  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #endPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(33% - 16px)" fxFlex.lt-sm="calc(100% - 16px)"
                  appearance="outline">
                  <mat-label>Pay Date</mat-label>
                  <input matInput [matDatepicker]="payDatePicker" formControlName="payDate">
                  <mat-datepicker-toggle matSuffix [for]="payDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #payDatePicker></mat-datepicker>
                </mat-form-field>
                <p fxFlex="calc(100% - 16px)">How do you pay?</p>
                <mat-radio-group fxFlex="calc(100% - 16px)" color="accent" formControlName="payType" fxLayout="column" fxLayoutGap="4px">
                  <mat-radio-button *ngFor="let type of typeRadios" [value]="type.value">{{ type.text }}</mat-radio-button>
                </mat-radio-group>
                <mat-form-field color="accent" fxFlex="calc(100% - 16px)" appearance="outline" class="ff-styled">
                  <mat-label>Beginning Check #</mat-label>
                  <input matInput formControlName="checkNumber" placeholder="Ex: 2017100">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(100% - 16px)" appearance="outline" class="ff-last">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
              </form>
            </div>
          </div>
          <!-- End Payroll Request Info -->
          <!-- Start Employee Info -->
          <div class="employees-form" fxLayout="column">
            <div class="emp-head" fxLayout="row" fxLayoutAlign="center center">
              <h2 style="margin-top: 36px !important">Employees</h2>
            </div>
            <form [formGroup]="empForm">
              <div formArrayName="employees">
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let employee of empForm['controls'].employees['controls']; let i = index;" [formGroupName]="i" [expanded]="i === emps">
                    <mat-expansion-panel-header>{{ '#' + (i+1) + ' ' + employee.controls.employeeName.value }}</mat-expansion-panel-header>
                    <div fxLayout="column" style="margin-top: 8px">
                      <mat-form-field color="accent" appearance="outline">
                        <mat-label>Employee Name</mat-label>
                        <input matInput formControlName="employeeName">
                      </mat-form-field>
                      <mat-radio-group color="accent" formControlName="typeOfPay" fxLayout="row" fxLayoutGap="16px">
                        <mat-radio-button value="hourly">Hourly</mat-radio-button>
                        <mat-radio-button value="salary">Salary</mat-radio-button>
                      </mat-radio-group>
                      <div fxLayout="column" *ngIf="employee.controls.typeOfPay.value === 'hourly'">
                        <p>Regular Pay</p>
                        <div fxLayout="row" fxLayoutGap="8px">
                          <mat-form-field color="accent" appearance="outline" fxFlex="calc(25% - 8px)">
                            <mat-label>Hourly Pay Rate</mat-label>
                            <input matInput formControlName="hourlyPayRate" (change)="inputChange($event)">
                          </mat-form-field>
                          <mat-form-field color="accent" appearance="outline" fxFlex="calc(25% - 8px)">
                            <mat-label>Hourly Pay Hours</mat-label>
                            <input matInput formControlName="hourlyPayHours">
                          </mat-form-field>
                          <mat-form-field color="accent" appearance="outline" fxFlex="calc(25% - 8px)">
                            <mat-label>Overtime Pay Hours</mat-label>
                            <input matInput formControlName="overtimePayHours">
                          </mat-form-field>
                          <mat-form-field color="accent" appearance="outline" fxFlex="calc(25% - 8px)">
                            <mat-label>Workers Comp Code</mat-label>
                            <input matInput formControlName="workmansCompCode">
                          </mat-form-field>
                        </div>
                      </div>
                      <div fxLayout="column" *ngIf="employee.controls.typeOfPay.value === 'salary'">
                        <p>Salary Pay</p>
                        <div fxLayout="row" fxLayoutGap="8px">
                          <mat-form-field color="accent" appearance="outline" fxFlex="calc(50% - 8px)">
                            <mat-label>Salary Pay</mat-label>
                            <input matInput formControlName="salary" (change)="inputChange($event)">
                          </mat-form-field>
                          <mat-form-field color="accent" appearance="outline" fxFlex="calc(50% - 8px)">
                            <mat-label>Workers Comp Code</mat-label>
                            <input matInput formControlName="workmansCompCode">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="divide"></div>
                      <div fxLayout="column" fxLayoutGap="16px" formGroupName="additionalPay">
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <span fxFlex>Additional Pay</span>
                          <button mat-button color="accent" (click)="addPaySourceToForm(i, employee)">ADD PAY SECTION</button>
                        </div>
                        <div formArrayName="paySources">
                          <div *ngFor="let paySource of employee.controls.additionalPay.controls.paySources.controls; let pi = index" [formGroupName]="pi">
                            <div fxLayout="row" style="max-width: 100%">
                              <div fxFlex>
                                <div fxLayout="row" fxLayoutGap="8px">
                                  <mat-form-field fxFlex="calc(33% - 8px)" color="accent" appearance="outline">
                                    <mat-select placeholder="Type" formControlName="type">
                                      <mat-option *ngFor="let option of payRadios" [value]="option.value">{{ option.text }}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field fxFlex="calc(33% - 8px)" color="accent" appearance="outline">
                                    <mat-label>Hours</mat-label>
                                    <input matInput formControlName="hours">
                                  </mat-form-field>
                                  <mat-form-field fxFlex="calc(33% - 8px)" color="accent" appearance="outline">
                                    <mat-label>Hourly Pay Rate</mat-label>
                                    <input matInput formControlName="hourlyPayRate">
                                  </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutGap="8px">
                                  <mat-form-field fxFlex="calc(33% - 8px)" color="accent" appearance="outline">
                                    <mat-label>Other Pay Amount (if not hourly)</mat-label>
                                    <input matInput formControlName="otherPayAmount">
                                  </mat-form-field>
                                  <mat-form-field fxFlex="calc(33% - 8px)" color="accent" appearance="outline">
                                    <mat-label>Workers Comp Code</mat-label>
                                    <input matInput formControlName="workmansCompCode">
                                  </mat-form-field>
                                </div>
                              </div>
                              <div fxFlex="64px" fxLayout="column" fxLayoutAlign="center end">
                                <button mat-icon-button style="margin-top: -16px" color="accent" (click)="removePaySourceFromForm(pi, employee)"><mat-icon>remove_circle</mat-icon></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="divide"></div>
                      <div fxLayout="column" fxLayoutGap="16px" formGroupName="deduc">
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <span fxFlex>Deductions</span>
                          <button mat-button color="accent" (click)="addDeductionToForm(i, employee)">ADD DEDUCTION</button>
                        </div>
                        <div formArrayName="deductions">
                          <div *ngFor="let deduction of employee.controls.deduc.controls.deductions.controls; let di = index;" [formGroupName]="di">
                            <div fxLayout="row" fxLayoutGap="8px">
                              <mat-form-field fxFlex="calc(50% - 28px)" color="accent" appearance="outline">
                                <mat-select placeholder="Type" formControlName="type">
                                  <mat-option *ngFor="let option of deductionRadios" [value]="option.value">{{ option.text }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field color="accent" appearance="outline" fxFlex="calc(50% - 28px)">
                                <mat-label>Amount / Hours</mat-label>
                                <input matInput formControlName="amount">
                              </mat-form-field>
                              <div fxLayout="row" fxLayoutAlign="center center" fxFlex="40px">
                                <button mat-icon-button (click)="removeDeductionFromForm(di, employee)" style="margin-top: -18px"><mat-icon color="accent">remove_circle</mat-icon></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="divide"></div>
                      <div fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <span style="margin-bottom: 16px">Health Insurance</span>
                        </div>
                        <div fxLayout="row">
                          <mat-form-field fxFlex color="accent" appearance="outline">
                            <mat-label>Shareholder Health Insurance</mat-label>
                            <input matInput formControlName="shareholderHealthInsurance">
                          </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="8px">
                          <mat-form-field fxFlex color="accent" appearance="outline">
                            <mat-label>Employee Portion Health Insurance</mat-label>
                            <input matInput formControlName="employeePortionHealthInsurance">
                          </mat-form-field>
                          <div class="document" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                            <div class="icon" fxLayout="row" fxLayoutAlign="center center"><mat-icon>insert_drive_file</mat-icon></div>
                            <span fxFlex>{{ employee.value.employeePortionDocumentUrl !== '' ? employee.value.employeePortionDocumentUrl.name : 'Press + to upload a document' }}</span>
                          </div>
                          <div class="file-select" fxFlex="54px" fxLayout="column" fxLayoutAlign="start center">
                            <div class="attach-box" fxLayout="row" fxLayoutAlign="center center" matTooltip="Upload Your Document" matTooltipPosition="above">
                              <mat-icon>add</mat-icon>
                              <div class="spinner" *ngIf="eeUp" fxLayout="row" fxLayoutAlign="center center"><mat-progress-spinner diameter="24" mode="determinate" [value]="percent"></mat-progress-spinner></div>
                              <input type="file" accept=".jpg,.jpeg,.png;capture=camera" (change)="uploadHealthDoc($event, 'employeePortionDocumentUrl', employee)">
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="8px">
                          <mat-form-field fxFlex color="accent" appearance="outline">
                            <mat-label>Employer Portion Health Insurance</mat-label>
                            <input matInput formControlName="employerPortionHealthInsurance">
                          </mat-form-field>
                          <div class="document" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                            <div class="icon" fxLayout="row" fxLayoutAlign="center center"><mat-icon>insert_drive_file</mat-icon></div>
                            <span fxFlex>{{ employee.value.employerPortionDocumentUrl !== '' ? employee.value.employerPortionDocumentUrl.name : 'Press + to upload a document' }}</span>
                          </div>
                          <div class="file-select" fxFlex="54px" fxLayout="column" fxLayoutAlign="start center">
                            <div class="attach-box" fxLayout="row" fxLayoutAlign="center center" matTooltip="Upload Your Document" matTooltipPosition="above">
                              <mat-icon>add</mat-icon>
                              <div class="spinner" *ngIf="erUp" fxLayout="row" fxLayoutAlign="center center"><mat-progress-spinner diameter="24" mode="determinate" [value]="percent"></mat-progress-spinner></div>
                              <input type="file" accept=".jpg,.jpeg,.png;capture=camera" (change)="uploadHealthDoc($event, 'employerPortionDocumentUrl', employee)">
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row">
                          <mat-form-field color="accent" appearance="outline" fxFlex>
                            <mat-label>Notes</mat-label>
                            <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5" formControlName="notes"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <mat-action-row>
                      <button mat-button (click)="removeEmployeeFromForm(i)">REMOVE</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </form>
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 16px 0px">
              <button mat-raised-button color="accent" (click)="addEmployeeToForm()">ADD EMPLOYEE</button>
            </div>
          </div>
          <!-- End Employee Info -->

        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Review" *ngIf="!submitted">
    <ng-template matTabContent>
      <div class="review-container" fxLayout="row" fxLayoutAlign="center start">
        <div class="constraint mat-elevation-z1">
          <div class="header" fxLayout="row" fxLayoutAlign="center center">
            <span>REVIEW</span>
          </div>
          <div class="review" fxLayout="column" fxLayoutGap="24px">
            <h2>{{ pd.companyName }}</h2>
            <div fxLayout="row wrap" fxLayoutGap="12px">
              <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
                <span class="title">Pay Period Start</span>
                <span class="body">{{ pd.payPeriodStart | date: 'mediumDate' }}</span>
              </div>
              <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
                <span class="title">Pay Period End</span>
                <span class="body">{{ pd.payPeriodEnd | date: 'mediumDate' }}</span>
              </div>
              <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
                <span class="title">Pay Date</span>
                <span class="body">{{ pd.payDate | date: 'mediumDate' }}</span>
              </div>
              <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
                <span class="title">Form of Pay</span>
                <span class="body">{{ pd.payType }}</span>
              </div>
              <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
                <span class="title">Beginning Check #</span>
                <span class="body">{{ pd.checkNumber }}</span>
              </div>
              <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
                <span class="title">Email</span>
                <span class="body">{{ pd.email }}</span>
              </div>
            </div>
            <div class="employees" fxLayout="column" fxLayoutGap="24px">
              <h3>{{ ed.employees.length }} Employee{{ ed.employees.length === 1 ? '' : 's' }}</h3>
              <div *ngFor="let employee of ed.employees; let i = index;" fxLayout="column" fxLayoutGap="16px">
                <h4 style="margin-top: 4px">Employee {{ i }}: {{ employee.employeeName }}</h4>
                <div fxLayout="row" fxLayoutGap="16px">
                  <div class="e-item" fxLayout="column" fxFlex>
                    <span class="title">Type of Pay</span>
                    <span class="body">{{ employee.typeOfPay }}</span>
                  </div>
                  <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'hourly'" fxLayoutGap="4px">
                    <span class="title">Hourly Pay Rate</span>
                    <span class="body e">{{ employee.hourlyPayRate }}</span>
                  </div>
                  <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'hourly'" fxLayoutGap="4px">
                    <span class="title">Hourly Pay Hours</span>
                    <span class="body e">{{ employee.hourlyPayHours }}</span>
                  </div>
                  <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'hourly'" fxLayoutGap="4px">
                    <span class="title">Overtime Pay Hours</span>
                    <span class="body e">{{ employee.overtimePayHours }}</span>
                  </div>
                  <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'salary'" fxLayoutGap="4px">
                    <span class="title">Salary</span>
                    <span class="body e">{{ employee.salary }}</span>
                  </div>
                  <div class="e-item" fxLayout="column" fxLayoutGap="4px">
                    <span class="title">Workers Comp Code</span>
                    <span class="body e">{{ employee.workmansCompCode }}</span>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutGap="8px" class="addPay" *ngIf="employee.additionalPay.paySources.length > 0">
                  <span>Additional Pay</span>
                  <div *ngFor="let source of employee.additionalPay.paySources" fxLayout="row" fxLayoutGap="16px">
                    <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px" fxFlex style="padding-left: 12px">
                      <span class="title">Type of Pay</span>
                      <span class="body">{{ source.type }}</span>
                    </div>
                    <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                      <span class="title">Hours</span>
                      <span class="body e">{{ source.hours }}</span>
                    </div>
                    <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                      <span class="title">Hourly Rate</span>
                      <span class="body e">{{ source.hourlyPayRate }}</span>
                    </div>
                    <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                      <span class="title">Other (Not Hourly)</span>
                      <span class="body e">{{ source.otherPayAmount }}</span>
                    </div>
                    <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                      <span class="title">Workers Comp Code</span>
                      <span class="body e">{{ source.workmansCompCode }}</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutGap="8px" class="deduc" *ngIf="employee.deduc.deductions.length > 0">
                  <span>Deductions</span>
                  <div *ngFor="let ded of employee.deduc.deductions" fxLayout="row" fxLayoutGap="8px">
                    <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px" fxFlex style="padding-left: 12px">
                      <span class="title">Type of Deduction</span>
                      <span class="body">{{ ded.type }}</span>
                    </div>
                    <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                      <span class="title">Amount / Hours</span>
                      <span class="body e">{{ ded.amount }}</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutGap="8px" class="health">
                  <span>Health Insurance</span>
                  <div fxLayout="row" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayoutGap="4px" fxFlex style="padding-left: 12px">
                      <span class="title">Shareholder Health Insurance</span>
                      <span class="body">{{ employee.shareholderHealthInsurance }}</span>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayoutGap="4px" fxFlex style="padding-left: 12px">
                      <span class="title">Employee Portion Health Insurance</span>
                      <span class="body">{{ employee.employeePortionHealthInsurance }}</span>
                    </div>
                    <div fxLayout="column" fxLayoutGap="4px" style="padding-left: 12px">
                      <span class="title">Employee Portion Document Link</span>
                      <span class="body e">{{ employee.employeePortionDocumentUrl.name }}</span>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayoutGap="4px" fxFlex style="padding-left: 12px">
                      <span class="title">Employer Portion Health Insurance</span>
                      <span class="body">{{ employee.employerPortionHealthInsurance }}</span>
                    </div>
                    <div fxLayout="column" fxLayoutGap="4px" style="padding-left: 12px">
                      <span class="title">Employee Portion Document Link</span>
                      <span class="body e">{{ employee.employerPortionDocumentUrl.name }}</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutGap="8px" class="notes">
                  <span class="title">Notes</span>
                  <span class="body">{{ employee.notes }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
            <button mat-button color="accent" (click)="download()">DOWNLOAD</button>
            <button mat-button color="accent" (click)="tab = 0">GO BACK</button>
            <button mat-raised-button color="accent" (click)="buildDoc()">SUBMIT</button>
          </div>
        </div>
      </div>
      <div class="over" fxLayout="row" fxLayoutAlign="center center" *ngIf="sending">
        <div class="card mat-elevation-z1" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
          <span>Sending...</span>
          <mat-progress-spinner diameter="56" mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Complete" *ngIf="submitted">
    <div class="complete-container" fxLayout="row" fxLayoutAlign="center start">
      <div class="constraint mat-elevation-z1">
        <div class="confirmation" fxLayout="column" fxLayoutGap="16px">
          <div fxLayout="row" fxLayoutAlign="center center" class="check"><mat-icon color="accent">check_circle</mat-icon></div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <span class="thanks">Thank you for submitting!</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" (click)="download()">DOWNLOAD A COPY</button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<button mat-fab color="accent" (click)="review()"><mat-icon>{{ this.tab === 0 ? 'check' : 'arrow_back' }}</mat-icon></button>
