<div class="review-container" fxLayout="row" fxLayoutAlign="center start">
  <div class="constraint mat-elevation-z1">
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
      <span>REVIEW</span>
    </div>
    <div class="review" fxLayout="column" fxLayoutGap="24px">
      <h2>{{ pd.companyName }}</h2>
      <div fxLayout="row wrap" fxLayoutGap="12px">
        <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
          <span class="title">Pay Period Start</span>
          <span class="body">{{ pd.payPeriodStart | date: 'mediumDate' }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
          <span class="title">Pay Period End</span>
          <span class="body">{{ pd.payPeriodEnd | date: 'mediumDate' }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
          <span class="title">Pay Date</span>
          <span class="body">{{ pd.payDate | date: 'mediumDate' }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
          <span class="title">Form of Pay</span>
          <span class="body">{{ pd.payType }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
          <span class="title">Beginning Check #</span>
          <span class="body">{{ pd.checkNumber }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="4px" fxFlex="calc(33% - 12px)" class="p-item">
          <span class="title">Pay Period Start</span>
          <span class="body">{{ pd.email }}</span>
        </div>
      </div>
      <div class="employees" fxLayout="column" fxLayoutGap="24px">
        <div *ngFor="let employee of ed.employees; let i = index;" fxLayout="column" fxLayoutGap="16px">
          <h4 style="margin-top: 4px">Employee {{ i }}: {{ employee.employeeName }}</h4>
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="e-item" fxLayout="column" fxFlex>
              <span class="title">Type of Pay</span>
              <span class="body">{{ employee.typeOfPay }}</span>
            </div>
            <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'hourly'" fxLayoutGap="4px">
              <span class="title">Hourly Pay Rate</span>
              <span class="body e">{{ employee.hourlyPayRate }}</span>
            </div>
            <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'hourly'" fxLayoutGap="4px">
              <span class="title">Hourly Pay Hours</span>
              <span class="body e">{{ employee.hourlyPayHours }}</span>
            </div>
            <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'hourly'" fxLayoutGap="4px">
              <span class="title">Overtime Pay Hours</span>
              <span class="body e">{{ employee.overtimePayHours }}</span>
            </div>
            <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'salary'" fxLayoutGap="4px">
              <span class="title">Salary</span>
              <span class="body e">{{ employee.salary }}</span>
            </div>
            <div class="e-item" fxLayout="column" *ngIf="employee.typeOfPay === 'salary'" fxLayoutGap="4px">
              <span class="title">Workers Comp Code</span>
              <span class="body e">{{ employee.workmansCompCode }}</span>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="8px" class="addPay" *ngIf="employee.additionalPay.paySources.length > 0">
            <span>Additional Pay</span>
            <div *ngFor="let source of employee.additionalPay.paySources" fxLayout="row" fxLayoutGap="16px">
              <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px" fxFlex style="padding-left: 12px">
                <span class="title">Type of Pay</span>
                <span class="body">{{ source.type }}</span>
              </div>
              <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                <span class="title">Hours</span>
                <span class="body e">{{ source.hours }}</span>
              </div>
              <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                <span class="title">Hourly Rate</span>
                <span class="body e">{{ source.hourlyPayRate }}</span>
              </div>
              <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                <span class="title">Other (Not Hourly)</span>
                <span class="body e">{{ source.otherPayAmount }}</span>
              </div>
              <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                <span class="title">Workers Comp Code</span>
                <span class="body e">{{ source.workmansCompCode }}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="8px" class="deduc" *ngIf="employee.deduc.deductions.length > 0">
            <span>Deductions</span>
            <div *ngFor="let ded of employee.deduc.deductions" fxLayout="row" fxLayoutGap="8px">
              <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px" fxFlex style="padding-left: 12px">
                <span class="title">Type of Deduction</span>
                <span class="body">{{ ded.type }}</span>
              </div>
              <div class="add-pay-item" fxLayout="column" fxLayoutGap="4px">
                <span class="title">Amount / Hours</span>
                <span class="body e">{{ ded.amount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <button mat-button color="accent">GO BACK</button>
      <button mat-raised-button color="accent">SUBMIT</button>
    </div>
  </div>
</div>
