.review-container {
    padding: 24px;
    .constraint {
        max-width: 750px;
        width: 100%;
        background-color: #fff;
        border-radius: 4px;
        .header {
            padding: 24px;
            span {
                font-size: 28px;
                font-weight: 300;
            }
        }
        .review {
            width: 100%;
            padding: 24px;
        }
        .actions {
            width: 100%;
            padding: 24px;
        }
    }
}

h2 {
    margin-top: 0px !important;
}

.p-item {
    max-width: calc(33% - 12px);
    margin-bottom: 24px;
    &:last-child {
        margin-right: 12px;
    }
}

.title {
    font-size: 10px;
    color: rgba(0,0,0,0.65);
    text-transform: uppercase;
}

.body {
    font-size: 14px;
    color: #000;
    &.e {
        text-align: right;
    }
}