/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:900,800,700,600,500,400,300,200");

@import './app-theme';

body {
    padding: 0px;
    margin: 0px;
    background-color: #fafafa;
    font-family: 'Roboto';
}

.mat-tab-labels {
    justify-content: center;
}

.mat-tab-header {
    background-color: mat_color($primary);
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #fff;
}

.mat-tab-label {
    color: #fff;
}

.mat-tab-label-content {
    color: #fff;
}

/*
.mat-tab-header {
    height: 0;
    box-shadow: none;
    border: none;
}
*/